<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charging Page</title>
    <link type="text/css" href="/css/index.css" rel="stylesheet"/>
    <link type="text/css" href="/layerui/css/layui.css" rel="stylesheet"/>
</head>
<body>
<div style="text-align: center">
    <button class="layui-btn layui-btn-primary layui-btn-small btnName" data-type="import" id="importBtn" >
        <i class="iconfont icon-operation"></i> 导入
    </button>

</div>

<script type="text/javascript" src="/lib/jquery/jquery.js"></script>
<script type="text/javascript" src="/lib/bootstrapTable/bootstrap-table.js"></script>
<script type="text/javascript" src="/lib/bootstrapTable/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/bootstrapTable/bootstrap-table-export.js"></script>
<script type="text/javascript" src="/lib/bootstrapTable/tableExport.js"></script>
<script type="text/javascript" src="/lib/bootstrapTable/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="/lib/layerui/layui.js"></script>
<script type="text/javascript" src="/lib/sto/sto.js"></script>
<script>

</script>
</body>
</html>